<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/image/Logo_Icon/icon_web.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/response.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>FigureAnimeVN</title>
</head>
<body>
    <div id="main">
        <header id="header">
            <ul id="nav" >
                    <li><img src="../assets/image/Logo_Icon/icon_logo.png" alt="Logo" class="nav-logo"></li>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="#content">Sale</a></li>
                    <li><a href="#products">Products</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <a href="#footer">Contact
                            <i class="nav-arrow-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Account Number</a></li>
                        </ul>
                    </li>
            </ul>

            <div class="register log">
              <a href="#">Sign up / Log in</a>
            </div>

            <div class="cart-button">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            
            <div class="search-button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <div id="mobile-menu" class="mobile-menu-btn">
              <i class="fa-solid fa-bars"></i>
          </div>

            <div class="login-user log">
              <i class="fa-solid fa-user"></i>
            </div>
          
        </header>


        <!-- ABOUT -->
        <div id="container-about">
            <div class="body-about container">
              <div class="text-content">
                <h1>Figure AnimeVN</h1>
                <p>--Figure for all--</p>
              </div>
                <div class="col-8 about-left w-50">
                  
                    <strong><i class="fa-solid fa-star"></i>Giới thiệu về Figure AnimeVN</strong>
                    <p>
                      <img class="img-phone" src="https://nerdarena.in/cdn/shop/files/Website-banner_anime.jpg?v=1657633543&width=1920" alt="">
                    </p>
                        <p>Là nơi chuyên cung cấp figure chính hãng của Nhật Bản tại Việt Nam</p>
                        <p>Figure AnimeVN là thiên đường với những bạn quan tâm, theo đuổi vẻ đẹp toàn vẹn, đam mê figure cao cấp và đây mê hoặc của Nhật Bản.</p>
                        <p>Nếu nhu cầu của bạn chỉ dừng lại ở figure chất lượng thấp, hàng nhái, giả, không có bản quyền… thì rất tiếc Figure AnimeVN không phải là nơi phù hợp dành cho bạn.</p>
                        <p>Từ tháng 8/2012, sau 11 năm phục vụ, Figure AnimeVN rất vui nhận được sự ủng hộ đông đảo từ người sưu tầm trên khắp VN.</p>
                        <p>
                          Tại Figure AnimeVN chúng tôi:
                          <ul>
                            <li>Chuyên cung cấp figure chất lượng cao của Nhật Bản</li>
                            <li>Cập nhật thông tin sản phẩm mới mỗi ngày.</li>
                            <li>Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng, hỗ trợ vận chuyển miễn phí.</li>
                            <li>Săn tìm figure từ hiếm cho đến cực hiếm</li>
                          </ul>
                        </p>

                        <p>
                          <img src="//file.hstatic.net/1000160337/file/259661826_437867607746203_2223033954066747930_n_8b057f6b3b4d4b3bb379387be1fe71e6_grande.jpg" alt="">
                        </p>
                        <p>
                          <img src="//file.hstatic.net/1000160337/file/116873727_223869365518000_5105460633371211525_n_8ed44d4479284f71b567b20ce38ba6c6_grande.jpg" alt="">
                        </p>
                        <strong><i class="fa-solid fa-star"></i>Mục tiêu của Figure AnimeVN là:</strong>
                        <p>
                          <img src="//file.hstatic.net/1000160337/file/mang-nhan-vat-ban-thich-den-gan-ban-hon.jpg" alt="">
                        </p>
                        <p>
                          Bạn thích chơi figure đơn lẻ hay đi cùng 1 series với nhau?
                        </p>
                        <p>Bạn thích figure tự sơn hay sơn sẵn?</p>
                        <p>Bạn muốn trưng bày tất cả figure ngay trước mặt để tăng cảm hứng làm việc, hay tạo không gian riêng cho từng bé để tăng tính nghệ thuật?</p>
                        <p>Hãy chọn cho mình một figure yêu thích và cách chơi phù hợp nhé.</p>
                        <p>
                          <img src="//file.hstatic.net/1000160337/file/gioi_thieu_japan_figure_tu_ke.jpg" alt="">
                        </p>
                        <p>Có 2 trang trực thuộc Figure AnimeVN gồm: 
                          <a href="/index.html">Trang chủ</a>,
                          <a href="#"> Giới thiệu</a> và Log In đang bảo trì ... 
                          <a class="log" href="#"> Log In</a>.
                        </p>
                        
                </div>
                <div class="col-4 about-right w-50">
                    <img width="300" src="../assets/image/Logo_Icon/Remove-bg.ai_1716637195889.png" alt="">
                </div>
            </div>
        </div>


        <!-- Contact -->
        <div class="pre">
          <div class="pre-cus">
            <div class="pre-bg">
              <div class="head-pre">
                <div class="pre-bor">
              <div class="head-pre2 row-pre">
                <p class="text-pre">Register to receive news</p>
              </div>
              <div class="row-end row-pre">
                <div class="mail-pre">
                  <form action="">
                    <div class="form-group icon-email">
                      <input type="email" id="emailInput" placeholder="Email">
                      
                    </div> 
                    <button type="button" onclick="validateForm2()">
                      <i class="fa-regular fa-paper-plane"></i>
                      SEND
                    </button>
                  </form>
                  <div class="error-message" id="emailErrorMessage"></div>
                </div>
              </div>
            <div class="row-end row-pre">
              <div class="left-social">
              <p class="title-social">Follow & contact us</p>
            </div>
              <div class="row-icon">
                <ul class="list-icon">
                  <li class="icon-social">
                    <a href="#">
                    <i class="fa-brands fa-square-facebook"></i>
                    </a>
                  </li>
                  <li class="icon-social">
                    <a href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                  </a>
                  </li>
                  <li class="icon-social">
                    <a href="#">
                    <i class="fa-brands fa-square-x-twitter"></i>
                  </a>
                  </li>
                  <li class="icon-social">
                    <a href="#">
                    <i class="fa-brands fa-square-youtube"></i>
                  </a>
                  </li>
                  <li class="icon-social">
                    <a href="#">
                    <i class="fa-brands fa-square-pinterest"></i>
                  </a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>


          <!-- Footer -->
            <footer  id="footer">
              <div class="top-footer">
                <div class="pa-footer">
                  <div class="row-footer">
                    <div class="col-md-3 col-sm-6 col-xs-12 mg-bottom-15 ">
                      <div class="img-shop">
                      <img width="100" src="../assets/image/Logo_Icon/icon_logo.png" alt="">
                    </div>
                      <div class="info-shop">
                        <p>Figure AnimeVN - Mô hình chính hãng</p>
                        <ul>
                          <li>
                            <i class="fa-solid fa-location-dot"></i>
                            280 Cộng Hoà, P13, Tân Bình, TP.HCM
                          </li>
                          <li>
                            <i class="fa-solid fa-phone"></i>
                            <a rel="nofollow" href="tel:01234567890">01234567890</a>
                          </li>
                          <li>
                            <i class="fa-solid fa-envelope"></i>
                            <a rel="nofollow" href="mailto:contact@figureanimevn.com">contact@figureanimevn.com</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mg-bottom-15 col-more">
                      <div class="title-footer">
                        <div class="h4">Chính Sách</div>
                      </div>
                      <div class="footer-des">
                        <ul>
                          <li><a href="#">Tìm kiếm</a></li>
                          <li><a href="#">Giới thiệu</a></li>
                          <li><a href="#">Chính sách giao hàng và đổi trả</a></li>
                          <li><a href="#">Chính sách bảo mật</a></li>
                          <li><a href="#">Điều khoản dịch vụ</a></li>
                          <li><a href="#">Liên hệ</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mg-bottom-15 col-more">
                      <div class="title-footer">
                        <div class="h4">Hướng dẫn</div>
                      </div>
                      <div class="footer-des">
                        <ul>
                        <li><a href="#">Danh mục Blog</a></li>
                      </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-more">
                      <div class="title-footer">
                        <div class="h4">Tổng đài hỗ trợ</div>
                        <div class="footer-des footer-contact">
                          <ul>
                          <li>
                            <span>Gọi mua hàng: </span>
                            <a href="tel:01234567890">01234567890</a>
                          </li>
                          <li>
                            <span>Gọi bảo hành: </span>
                              <a href="tel:01234567890">0123456789</a>
                            </li>
                          <li>
                            <span>Gọi hợp tác kinh doanh, mua sỉ: </span>
                              <a href="tel:09876543210">09876543210</a>
                            </li>
                        </ul>
                      </div>
                      <div class="title-footer">
                        <div class="h4">Phương thức thanh toán</div>
                      </div>
                      <div>
                        <img width="246" height="24" src="https://theme.hstatic.net/1000379792/1000977285/14/footer_trustbadge.jpg?v=338" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="copywrite">
                    <div class="content-copywrite">
                      <p>© Copyright 2024 By
                        <a href="#" target="_blank">Figure AnimeVN</a>
                        <a rel="nofollow" href="https://i.makeagif.com/media/11-07-2022/2T4tNY.gif" target="_blank"> Powered by Ghieuvt12</a>
                      </p>
                      <p>Hoàng Gia Hiếu-DH52110899-D21_TH11-Nhóm 19/Ca 2</p>
                </div>
              </div>
            </footer>
    </div>


    <!-- Page Log In -->
    <div class="modal js-modal">
      <div class="modal-container js-container">
          <div class="modal-close js-modal-close">
            <i class="fa-solid fa-xmark"></i>
          </div>

          <header class="modal-header">
              <img class="modal-heading-icon" width="100" src="./assets/image/Logo_Icon/icon_logo.png" alt="">
                  LOG IN
          </header>

          <div class="modal-body">
            <div class="modal-body-2">
              <label for="emailInput" class="modal-label">
                <i class="fa-solid fa-user"></i>
                Your Email
              </label>
              <input id="emailLog" type="email" class="modal-input" placeholder="Email">
              <div class="error-message" id="mailLogErrorMessage"></div>
            </div>
              
            <div class="modal-body-2">
              <label for="passLog" class="modal-label">
                <i class="fa-solid fa-lock"></i>
                  Your Password
              </label>
              <input maxlength="30" id="passLog" type="password" class="modal-input" name="*" placeholder="Password">
              <div class="error-message" id="passLogErrorMessage"></div>
            </div>

              <p>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>

              <button id="log-in" onclick="validateForm()"> LOG IN <i class="ti-check"></i>
              </button>
              
              <div class="login-social">
                <div class="col-social">
                  <a href="https://accounts.google.com/v3/signin/identifier?elo=1&ifkv=AaSxoQxLRK3rh3O8tHC_j8yfT6yEoiHm7q1IU641uy5KgnIdSMb71rhaUAFes0izdq2opNS5tTc8MA&ddm=0&flowName=GlifWebSignIn&flowEntry=ServiceLogin&continue=https%3A%2F%2Faccounts.google.com%2FManageAccount%3Fnc%3D1">
                  <button class="log-gg">
                    Log in with Google
                  </button>
                </a>
                </div>
                <div class="col-social">
                  <a href="https://www.facebook.com/?stype=lo&deoia=1&jlou=Afe98unj3xM9kXIcI64RKVu1HzHFFfsql2t9Ytodpogxa1Tesl8WlnWfgAk9BjXwnQinT66uIfPslKDZiWsSL0wyulcBzLVRZ4okWNg4W325jw&smuh=24356&lh=Ac9SXvIXPkx0W92MWPo">
                  <button class="log-fb">
                    Log in with Facebook
                  </button>
                </a>
                </div>
              </div>

              <div class="log-register">
                <p>Nếu bạn chưa có tài khoản hãy
                  <a href="#">Đăng ký</a>!
                </p>
              </div>
          </div>
          <footer class="modal-footer2">
              <button class="modal-x js-close-footer">
                  Close <i class="ti-close"></i>
              </button>
              <p class="modal-help">Need <a href="https://bom.so/Nf183M"> help?</a></p>
          </footer>
      </div>
  </div>


<script src="/assets/javascript/action.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>